[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
install = "*"
drf-yasg = "*"
pillow = "*"
django-translator = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"

[requires]
python_version = "3.9"
